footer {
  border-radius: 0 10rem 0 0;
  background-color: $footer__bg;
  padding: 4.5rem 8rem;
  @include media(sm){
    padding: 4rem;
  }
  .footer__content{
  @include grid();
  color: $text;
  // padding-right: 4rem;
  @include media(sm) {
    padding: 3rem 2.3rem;
  }
  h2 {
    font-family: $body__font;
    font-size: $xlr;
    font-weight: 500;
  }
  h2,
  .product__list,
  .company__list,
  .contact__list {
    @include media(sm){
      grid-column: 1/13;
      justify-self: center;
      align-items: center;
    }
    grid-column: span 3;
    justify-self: center;
    @include flex(flex-start);
    align-items: flex-start;
    flex-direction: column;
    padding: 2rem 0;
    h4 {
      font-size: 2rem;
      font-weight: 600;
      padding-bottom: 2rem;
    }
    a {
      color: $footer__text;
      font-size: 1.8rem;
      text-decoration: none;
      padding: 0.65rem 0;
    }
  }
    h2{
      padding: 0rem;
      grid-column: 1/3;
      @include media(sm){
        padding-bottom: 3rem;
      }
    }
    .product__list{
      grid-column: 3/6;
    }
    .company__list{
      grid-column: 6/9;
    }
    .contact__list{
      grid-column: 9/12;
    }
  }
}