nav {
  @include flex(space-between);
  width: 100%;
  z-index: 110;
  .nav__left {
    @include flex(center);
    h3 {
      color: #fff;
      padding-right: 4.5rem;
      font-weight: 700;
      font-size: $lr;
      cursor: pointer;
    }
    .links {
      @include media(sm) {
        display: none;
      }
      @include flex(center);
      .link__name {
        &.open {
          display: block;
        }
        cursor: pointer;
        margin: 0 1rem;
        a {
          text-decoration: none;
          color: $text;
          font-size: $p;
          font-weight: 500;
        }
        img {
          margin-left: 1rem;
        }
      }
    }
    .sub__menu {
      display: none;
    }
  }
  .nav__right {
    .menu {
      @include media(xlg) {
        display: none;
      }
      @include media(lg) {
        display: none;
      }
      @include media(xxlg) {
        display: none;
      }
      cursor: pointer;
      img {
        height: 3rem;
        width: 4.5rem;
      }
    }
    button {
      @include media(md) {
        display: none;
      }
      @include media(sm) {
        display: none;
      }
      border: none;
      background: none;
      cursor: pointer;
      margin: 0 1rem;
      padding: 1rem;
      font-size: $sm;
    }
    .signup {
      color: $cta__text;
      border-radius: 3rem;
      background: #fff;
      padding: 1rem 2.5rem;
      &:hover {
        color: $text;
        background: rgba(255, 255, 255, 0.212);
      }
    }
    .login {
      transition: 300ms ease-out;
      border-radius: 3rem;
      padding: 1rem 3rem;
      &:hover {
        background-color: $text;
        color: #000;
      }
      color: $text;
    }
  }
}
