@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes progress {
  from {
    width: 0em;
  }
  to {
    background-color: red;
    width: 1.5em;
  }
}
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media (min-width: 360px) and (max-width: 478px) {
  html {
    font-size: 39.51%;
  }
}
@media (min-width: 479px) and (max-width: 768px) {
  html {
    font-size: 46%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  html {
    font-size: 58.25%;
  }
}
@media (min-width: 1441px) and (max-width: 2000px) {
  html {
    font-size: 64.5%;
  }
}

body {
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
  color: #4b5862;
}

a {
  color: #4b5862;
}

span {
  font-weight: 700;
}

@media (min-width: 1441px) and (max-width: 2000px) {
  header,
.hero__content,
.describe,
.feature,
footer,
nav,
.showcase {
    max-width: 150em;
    margin: 0 auto;
  }
}

h1 {
  font-size: 9.044rem;
  font-weight: 700;
  line-height: 8.6rem;
  letter-spacing: 0.05rem;
}

h2 {
  letter-spacing: 0.02rem;
  font-size: 6.396rem;
  font-weight: 500;
  line-height: 5.6rem;
}

h3 {
  font-size: 4.523rem;
  line-height: 4.5rem;
  font-weight: 500;
}

h4 {
  line-height: 3.8rem;
  font-size: 3.199rem;
  font-weight: 400;
}

h5 {
  line-height: 2.592rem;
  font-size: 2.262rem;
  font-weight: 400;
}

p {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.6rem;
}

a {
  font-weight: 400;
  font-size: 1.6rem;
}

footer {
  border-radius: 0 5rem 0 0;
  background-color: #25252d;
  padding: 4rem 12rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 2rem;
  color: white;
}
@media (min-width: 360px) and (max-width: 478px) {
  footer {
    padding: 3rem 2.2rem;
  }
}
footer h4 {
  font-weight: 600;
}
footer h4,
footer .product__list,
footer .company__list,
footer .contact__list {
  grid-column: span 3;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 2rem 0;
}
footer h4 h5,
footer .product__list h5,
footer .company__list h5,
footer .contact__list h5 {
  font-weight: 600;
  padding-bottom: 2rem;
}
footer h4 a,
footer .product__list a,
footer .company__list a,
footer .contact__list a {
  color: white;
  text-decoration: none;
  padding: 0.25rem 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 110;
}
nav .nav__left {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .nav__left h3 {
  color: #fff;
  padding-right: 4.5rem;
  font-weight: 700;
  font-size: 3.199rem;
  cursor: pointer;
}
nav .nav__left .links {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 360px) and (max-width: 478px) {
  nav .nav__left .links {
    display: none;
  }
}
nav .nav__left .links .link__name {
  cursor: pointer;
  margin: 0 1rem;
}
nav .nav__left .links .link__name.open {
  display: block;
}
nav .nav__left .links .link__name a {
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
  font-weight: 500;
}
nav .nav__left .links .link__name img {
  margin-left: 1rem;
}
nav .nav__left .sub__menu {
  display: none;
}
nav .nav__right .menu {
  cursor: pointer;
}
@media (min-width: 1025px) and (max-width: 1440px) {
  nav .nav__right .menu {
    display: none;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  nav .nav__right .menu {
    display: none;
  }
}
@media (min-width: 1441px) and (max-width: 2000px) {
  nav .nav__right .menu {
    display: none;
  }
}
nav .nav__right .menu img {
  height: 3rem;
  width: 4.5rem;
}
nav .nav__right button {
  border: none;
  background: none;
  cursor: pointer;
  margin: 0 1rem;
  padding: 1rem;
  font-size: 1.4rem;
}
@media (min-width: 479px) and (max-width: 768px) {
  nav .nav__right button {
    display: none;
  }
}
@media (min-width: 360px) and (max-width: 478px) {
  nav .nav__right button {
    display: none;
  }
}
nav .nav__right .signup {
  color: #ff525d;
  border-radius: 3rem;
  background: #fff;
  padding: 1rem 2.5rem;
}
nav .nav__right .signup:hover {
  color: white;
  background: rgba(255, 255, 255, 0.212);
}
nav .nav__right .login {
  transition: 300ms ease-out;
  border-radius: 3rem;
  padding: 1rem 3rem;
  color: white;
}
nav .nav__right .login:hover {
  background-color: white;
  color: #000;
}

.hero {
  position: relative;
  background-color: #ff3d54;
  color: #fff;
  padding: 6rem 13rem;
  overflow: hidden;
  border-radius: 0 0 0 10rem;
}
@media (min-width: 360px) and (max-width: 478px) {
  .hero {
    padding: 2.2rem;
  }
}
.hero__content {
  z-index: -1;
  text-align: center;
  padding: 3rem 0;
  margin-top: 5rem;
}
.hero__content img {
  top: -20%;
  left: -2%;
  position: absolute;
  width: 150%;
  height: 150%;
  object-fit: cover;
  z-index: -1;
}
.hero__content h2 {
  z-index: 100;
  padding: 2rem 0;
  line-height: 1;
  font-family: "Overpass", sans-serif;
}
.hero__content p {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}
.hero__content button {
  margin-top: 5rem;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 3rem;
  font-size: 1.6rem;
  padding: 2rem 3rem;
  cursor: pointer;
}
.hero__content button:not(last-child) {
  margin-right: 2rem;
}
.hero__content .learn__more:hover {
  background: #fff;
}
.hero__content .free {
  background: #fff;
  color: #ff525d;
}
.hero__content .free:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.3);
}
.hero__content .learn__more {
  color: #fff;
}
.hero__content .learn__more:hover {
  color: #ff525d;
  background: #fff;
}

.describe {
  padding: 4rem 13rem;
  overflow: hidden;
  margin: 5rem 0;
  position: relative;
}
@media (min-width: 360px) and (max-width: 478px) {
  .describe {
    padding: 4rem 2rem;
    text-align: center;
  }
}
.describe h3 {
  text-align: center;
  font-weight: 700;
}
.describe .layout {
  padding: 10rem 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 2rem;
}
.describe .layout__left {
  padding: 0 2rem;
  grid-column: span 6;
}
@media (min-width: 360px) and (max-width: 478px) {
  .describe .layout__left {
    grid-column: 1/13;
    order: 2;
  }
}
.describe .layout__left p {
  line-height: 1.5;
}
.describe .layout__left h5 {
  font-weight: bold;
  padding: 2rem 0;
}
.describe .layout__right {
  height: 45rem;
  grid-column: span 6;
}
@media (min-width: 360px) and (max-width: 478px) {
  .describe .layout__right {
    grid-column: 1/13;
    order: 1;
  }
}
.describe .layout__right img {
  position: absolute;
  height: 55rem;
  object-fit: cover;
  right: -10%;
  top: 5%;
}
@media (min-width: 360px) and (max-width: 478px) {
  .describe .layout__right img {
    right: 0%;
    top: 10%;
    height: 45rem;
  }
}
.describe .layout__right .first__img {
  display: block;
}
@media (min-width: 360px) and (max-width: 478px) {
  .describe .layout__right .first__img {
    display: none;
  }
}
.describe .layout__right .second__img {
  display: none;
}
@media (min-width: 360px) and (max-width: 478px) {
  .describe .layout__right .second__img {
    display: block;
  }
}

.showcase {
  background: #2c2d3f;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 2rem;
  padding: 8rem 13rem;
  border-radius: 0 5rem;
  position: relative;
}
@media (min-width: 360px) and (max-width: 478px) {
  .showcase {
    height: 58rem;
    padding: 3rem 2.3rem;
    text-align: center;
  }
}
.showcase__left {
  grid-column: span 6;
  overflow: hidden;
  justify-self: center;
}
@media (min-width: 360px) and (max-width: 478px) {
  .showcase__left {
    grid-column: 1/13;
  }
}
.showcase__left img {
  top: -20%;
  left: 7%;
  position: absolute;
  height: 42rem;
  object-fit: contain;
}
@media (min-width: 360px) and (max-width: 478px) {
  .showcase__left img {
    top: -25%;
    left: 14%;
  }
}
.showcase__right {
  grid-column: span 6;
  align-self: center;
  color: white;
}
@media (min-width: 360px) and (max-width: 478px) {
  .showcase__right {
    grid-column: 1/13;
  }
}
.showcase__right h4 {
  padding: 2rem 0;
}
.showcase__right p {
  line-height: 1.5;
}

.feature {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 2rem;
  padding: 10rem 12rem;
  margin: 6rem 0;
  position: relative;
  overflow: hidden;
}
@media (min-width: 360px) and (max-width: 478px) {
  .feature {
    padding: 3rem 2rem;
    text-align: center;
  }
}
.feature__left {
  grid-column: span 6;
  align-self: center;
}
@media (min-width: 360px) and (max-width: 478px) {
  .feature__left {
    grid-column: 1/13;
    height: 40rem;
  }
}
.feature__left img {
  position: absolute;
  top: 0%;
  left: -13.2%;
  height: 50rem;
  object-fit: contain;
}
@media (min-width: 360px) and (max-width: 478px) {
  .feature__left img {
    height: 48rem;
    left: -10%;
  }
}
.feature__left .large {
  display: block;
}
@media (min-width: 360px) and (max-width: 478px) {
  .feature__left .large {
    display: none;
  }
}
.feature__left .mobile {
  display: none;
}
@media (min-width: 360px) and (max-width: 478px) {
  .feature__left .mobile {
    display: block;
  }
}
.feature__right {
  padding: 0 2rem;
  align-self: center;
  grid-column: span 6;
}
@media (min-width: 360px) and (max-width: 478px) {
  .feature__right {
    grid-column: 1/13;
  }
}
.feature__right h4 {
  font-weight: 700;
  padding: 2.5rem 0;
}
.feature__right p {
  line-height: 1.5;
}

/*# sourceMappingURL=/src.7ed060e2.css.map */