.describe {
  @include media(sm) {
    padding: 4rem 2rem;
    text-align: center;
  }
  padding: 4rem 13rem;
  overflow: hidden;
  margin: 5rem 0;
  position: relative;
  h3 {
    text-align: center;
    font-weight: 700;
  }
  img {
    position: absolute;
    height: 55rem;
    width: 55rem;
    object-fit: cover;
    right: -10%;
    top: 5%;
    @include media(sm) {
      right: 8%;
      top: 9%;
    }
  }
  .layout {
    padding: 10rem 0;
    @include grid;
    &__left {
      padding: 0 2rem;
      @include media(sm) {
        grid-column: 1/13;
        order: 2;
      }
      grid-column: span 6;
      p {
        line-height: 1.5;
      }
      h5 {
        font-weight: bold;
        padding: 2rem 0;
      }
    }
    &__right {
      @include media(sm) {
        grid-column: 1/13;
        order: 1;
      }
      height: 45rem;
      grid-column: span 6;
    }
  }
}
