.describe {
  position: relative;
  background-image: url("../images/illustration-editor-desktop.svg");
  background-repeat: no-repeat;
  background-position: 135% 100%, 0% 0%;
  background-size: 56% 92%, 100% 100%;
@include media(sm){
  background-position: 50% 14%, 0% 0%;
  background-size: 108% 30%, 100% 100%;
  background-image: url("../images/illustration-editor-mobile.svg");
}
  &__content{
  @include media(sm) {
    margin-top: 6rem;
    padding: 4rem 2.5rem;
    text-align: center;
  }
  padding: 8rem;
  padding-top: 12rem;
  h3 {
    @include media(sm){
      font-size: 2.8rem;
    }
    font-size: 3.6rem;
    font-weight: 700;
    color: $heading;
    text-align: center;
  }
  .layout {
    padding: 6rem 0;
    @include grid();
    &__left {
      padding: 0 2rem;
      grid-column: span 6;
      @include media(sm) {
        grid-column: 1/13;
        order: 2;
        padding: 0;
      }
      h2{
        color: $heading;
        line-height: 1;
        font-size: 2.8rem;
        padding: 2rem 0;
      }
      p {
        font-size: 1.6rem;
        line-height: 1.6;
        font-weight: 500;
      }
      h5 {
        font-weight: bold;
        padding: 2rem 0;
      }
    }
    &__right {
      @include media(sm) {
        grid-column: 1/13;
        order: 1;
        padding: 0;
        height: 32rem;
      }
      grid-column: span 6;
    }
  }
}
}