.feature {
  @include grid;
  padding: 10rem 12rem;
  margin: 6rem 0;
  position: relative;
  &__left {
    @include media(sm) {
      grid-column: 1/13;
    }
    grid-column: span 6;
    align-self: center;
    img {
      position: absolute;
      top: 0%;
      left: -13.5%;
      height: 55rem;
      object-fit: contain;
    }
  }
  &__right {
    @include media(sm) {
      grid-column: 1/13;
    }
    align-self: center;
    grid-column: span 6;
    h5 {
      font-weight: 700;
      padding: 2.5rem 0;
    }
  }
}
