.hero {
  @include media(sm) {
    padding: 2.2rem;
  }
  position: relative;
  background-color: $secondary__gradient;
  color: #fff;
  padding: 6rem 12rem;
  border-radius: 0 0 0 10rem;
  img {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  // background-image: url('../../../public//images/bg-pattern-intro.svg');
  &__content {
    z-index: 1;
    // @include flex(center);
    text-align: center;
    padding: 3rem 0;
    margin-top: 5rem;
    h2 {
      padding: 2rem 0;
      line-height: 1;
      font-family: $main__font;
    }
    p {
      font-family: $body__font;
      font-weight: 400;
    }
    button {
      margin-top: 5rem;
      background: transparent;
      border: 2px solid #fff;
      border-radius: 3rem;
      font-size: $p;
      padding: 2rem 3rem;
      cursor: pointer;
      &:not(last-child) {
        margin-right: 2rem;
      }
    }
    .learn__more {
      &:hover {
        background: #fff;
      }
    }
    .free {
      background: #fff;
      color: $cta__text;
      &:hover {
        color: #fff;
        background: rgba(255, 255, 255, 0.3);
      }
    }
    .learn__more {
      color: #fff;
      &:hover {
        color: $cta__text;
        background: #fff;
      }
    }
  }
}
