.showcase {
  background: $dark__gray;
  @include grid;
  padding: 8rem 12rem;
  border-radius: 0 5rem;
  position: relative;
  &__left {
    @include media(sm) {
      grid-column: 1/13;
    }
    grid-column: span 6;
    overflow: hidden;
    img {
      top: -20%;
      left: 7%;
      position: absolute;
      height: 42rem;
      object-fit: contain;
    }
  }
  &__right {
    @include media(sm) {
      grid-column: 1/13;
    }
    grid-column: span 6;
    align-self: center;
    color: $text;
    h5 {
      padding: 2rem 0;
    }
    p {
      line-height: 1.5;
    }
  }
}
