* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  // cursor: none;
}
html {
  font-size: 62.5%;
  // @include media(sm) {
  //   font-size: 39.51%;
  // }
  // @include media(md) {
  //   font-size: 46%;
  // }
  // @include media(lg) {
  //   font-size: 58.25%;
  // }
  // @include media(xxlg) {
  //   font-size: 64.5%;
  // }
}
body {
  box-sizing: border-box;
  font-family: $main__font;
  color: $body;
}
a {
  color: $body;
}
span {
  font-weight: 700;
}
// nav,
.hero__content,
.describe__content,
.feature__content,
.footer__content,
nav,
.showcase__section {
  @include media(xlg) {
    max-width: 130rem;
    margin: 0 auto;
  }
}
