nav {
  @include grid();
  @include media(sm){
    padding: 2rem 0 1rem 0;
  }
  padding: 2rem 4.5rem;
  .nav__left {
    padding: 2rem 0;
    margin-right: 2rem;
    grid-column: 1/2;
    @include media(sm){
      grid-column: span 6;
      padding: 0;
    }
    img {
      cursor: pointer;
      height: 3.7rem; 
    }
  }
  .nav__center {
    grid-column: 2/13;
    @include flex(space-between);
    @include media(sm) {
      display: none;
    }
    .menu__items{
      @include flex(center);
      @include media(sm){
        flex-direction: column;
        width: 85%;
      }
    .menu__item{
      position: relative;
      padding: 1rem 1.2rem;
      width: 100%;
      @include media(sm){
        padding: 0;
      }
      &:hover{
        .sub__menu{
          display: flex;
        }
        img{
          transform: rotate(180deg);
        }
      }
      .link__name {
        @include flex(center);
        cursor: pointer;
          margin: 0 1rem;
        .color{
          display: none;
        }
        @include media(sm){
          .color{
            display: block;
          }
          .white{
            display: none;
          }
        }
          a {
            text-decoration: none;
            color: $text;
            font-size: 1.7rem;
            font-weight: 500;
            opacity: .75;
            @include media(sm){
              color: $heading;
              opacity: 1;
              font-weight: 600;
              font-size: 1.8rem;
            }
            &:hover{
              text-decoration: underline;
              font-weight: 600;
              opacity: 100%;
            }
          }
      img {
        margin-left: 1rem;
      }
    }
    .sub__menu {
      box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.349);
      border-radius: .5rem;
      padding: 2rem;
      width: 130%;
      @include flex(center);
      align-items: flex-start;
      flex-direction: column;
      background-color: $text;
      transition: display 200ms ease-out;
      border-radius: .5rem;
      @include media(xlg){
      position: absolute;
      align-items: flex-start;
      top: 4rem;
      }
      @include media(sm){
        width: 100%;
        background-color: $bg__submenu;
        align-items: center;
      }
      li{
        list-style: none;
        padding: .3rem 0;
        a{
          font-size: $p;
          text-decoration: none;
          &:hover{
            color: $heading;
            font-weight: 700;
          }
        }
      }
      display: none;
    }
  }
}
    &.open {
      @include flex(flex-start);
      padding: 2rem 0;
      z-index: 12;
      flex-direction: column;
      position: absolute;
      background: $text;
      height: 67vh;
      width: 88%;
      top: 13rem;
      left: 2.2rem;
      border-radius: .5rem;
      box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.507);
      .link__name{
        padding: 1rem 0;
        a{
          color: $heading;
          font-weight: 600;
          font-size: 2.2rem;
        }
      }
      .btn__menu{
        display: flex;
        flex-direction: column;
      }
    }
    hr{
      display: none;
      @include media(sm){
        border: none;
        display: block;
        background: $bg__submenu;
        width: 85%;
        height: .2rem;
        margin: 2rem;
      }
    }
    .btn__menu{
      @include flex(center);
      @include media(sm){
        display: none;
      }
      a{
        margin: .2rem 0;
        color: $heading;
        text-decoration: none;
        font-size: $p;
        font-weight: 600;
        border-radius: 2.5rem;
        transition: background-color 200ms ease-out;
        padding: 1.365rem 3.65rem;
      }
      .login{
        @include media(sm){
          color: $heading;
        }
        &:hover{
          background-color: $text;
          color: $cta__text;
        }
        color: $text;
      }
      .signup{
        &:hover{
          background-color:$cta__hover;
          color: $text;
        }
        color: $cta__text;
        background-color: $text;
        @include media(sm){
          color: $text;
          background: linear-gradient(90deg,$primary__gradient,$secondary__gradient);
        }
      }
    }
  }
    .menu {
      @include media(xlg) {
        display: none;
      }
      @include media(lg) {
        display: none;
      }
      @include media(xxlg) {
        display: none;
      }
      @include media(sm){
        grid-column: span 6;
        justify-self: end;
      }
      cursor: pointer;
      img {
        margin-top: .4rem;
        height: 3rem;
        width: 3.5rem;
      }
      &.active{
        .close{
          display: none;
        }
      }
      &.close{
        .show{
          display: none;
        }
      }
    }
}
