.feature {
  position: relative;
  background-image: url("../images/illustration-laptop-desktop.svg");
  background-repeat: no-repeat;
  background-position: -35% 5%, 0% 0%;
  background-size: 55% 100%, 100% 100%;
  @include media(sm){
    background-position: 48% 0%, 0% 0%;
    background-size: 126% 34% ,100% 100%;
  background-image: url("../images/illustration-laptop-mobile.svg");
  padding-bottom: 7rem;
  }
  .feature__content{
  @include grid();
  padding: 10rem 8rem;
  @include media(sm) {
    padding: 3rem 2rem;
    text-align: center;
  }
  .feature__left {
    @include media(sm) {
      height: 30rem;
      grid-column: 1/13;
    }
    grid-column: span 6;
    align-self: center;
    img {
      position: absolute;
      top: 0%;
      left: -15%;
      height: 50rem;
      @include media(sm) {
        height: 34rem;
      }
    }
    .large {
      @include media(sm) {
        display: none;
      }
      display: block;
    }
    .mobile {
      @include media(sm) {
        display: block;
      }
      display: none;
    }
  }
  .feature__right {
    @include media(sm) {
      padding: 0 2rem;
      grid-column: 1/13;
    }
    align-self: center;
    grid-column: span 6;
    h2 {
      color: $heading;
      font-size: 2.8rem;
      font-weight: 700;
      padding: 2.5rem 0;
    }
    p {
      line-height: 1.5;
      font-size: $p;
      font-weight: 500;
    }
  }
}
}