
.showcase {
  position: relative;
  border-radius: 0 10rem;
  background-image:url("../images/bg-pattern-circles.svg"),linear-gradient($dark__gray,$dark__blue);
  background-repeat: no-repeat no-repeat;
  background-size: 70% 256%, 100% 100%;
  background-position: -51% 83%, 0% 0%;
  margin: 6rem 0;
  @include media(sm){
    margin: 10rem 0;
    background-size: 160% 115%, 100% 100%;
    background-position: 50% 342%, 0% 0%;
  }
  .showcase__section{
  @include grid();
  padding: 10rem 8rem;
  @include media(sm) {
    background-position: 50% -1950%, 0% 0%;
    background-size: 163% 100%;
    padding:5rem 2.3rem;
    text-align: center;
  }
  .phone__illustration {
    grid-column: span 6;
    @include media(sm) {
      grid-column: 1/13;
      height: 16rem;
    }
    img {
      @include media(sm) {
        left: 3%;
        height: 37rem;
        top: -28%;
      }
      height: 57rem;
      top: -16%;
      z-index: 11;
      left: 9%;
      position: absolute;
    }
  }

  .showcase__content {
    @include media(sm) {
      grid-column: 1/13;
      padding-bottom: 7rem;
    }
    grid-column: span 6;
    color: $text;
    align-self: center;
    h2 {
      font-weight: 600;
      font-size: 3.7rem;
      padding: 2rem 0;
      @include media(sm){
        padding: 0 0 2rem 0;
      }
    }
    p {
      font-size: $p;
      line-height: 1.5;
      letter-spacing: .035rem;
    }
  }
}
}