@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@-webkit-keyframes progress {
  from {
    width: 0em;
  }
  to {
    background-color: red;
    width: 1.5em;
  }
}

@keyframes progress {
  from {
    width: 0em;
  }
  to {
    background-color: red;
    width: 1.5em;
  }
}

* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Overpass", sans-serif;
  color: #4b5862;
}

a {
  color: #4b5862;
}

span {
  font-weight: 700;
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .hero__content,
  .describe__content,
  .feature__content,
  .footer__content,
  nav,
  .showcase__section {
    max-width: 130rem;
    margin: 0 auto;
  }
}

footer {
  border-radius: 0 10rem 0 0;
  background-color: #25252d;
  padding: 4.5rem 8rem;
}

@media (min-width: 360px) and (max-width: 478px) {
  footer {
    padding: 4rem;
  }
}

footer .footer__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-gap: 2rem;
  color: white;
}

@media (min-width: 360px) and (max-width: 478px) {
  footer .footer__content {
    padding: 3rem 2.3rem;
  }
}

footer .footer__content h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 4.523rem;
  font-weight: 500;
  padding: 0rem;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

@media (min-width: 360px) and (max-width: 478px) {
  footer .footer__content h2 {
    padding-bottom: 3rem;
  }
}

footer .footer__content .product__list {
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3/6;
}

footer .footer__content .company__list {
  -ms-grid-column: 6;
  -ms-grid-column-span: 3;
  grid-column: 6/9;
}

footer .footer__content .contact__list {
  -ms-grid-column: 9;
  -ms-grid-column-span: 3;
  grid-column: 9/12;
}

footer .footer__content h2,
footer .footer__content .product__list,
footer .footer__content .company__list,
footer .footer__content .contact__list {
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 0;
}

@media (min-width: 360px) and (max-width: 478px) {
  footer .footer__content h2,
  footer .footer__content .product__list,
  footer .footer__content .company__list,
  footer .footer__content .contact__list {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    -ms-grid-column-align: center;
        justify-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

footer .footer__content h2 h4,
footer .footer__content .product__list h4,
footer .footer__content .company__list h4,
footer .footer__content .contact__list h4 {
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 2rem;
}

footer .footer__content h2 a,
footer .footer__content .product__list a,
footer .footer__content .company__list a,
footer .footer__content .contact__list a {
  color: #c8c8cb;
  font-size: 1.8rem;
  text-decoration: none;
  padding: 0.65rem 0;
}

nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-gap: 2rem;
}

@media (min-width: 360px) and (max-width: 478px) {
  nav {
    padding: 2rem 0 1rem 0;
  }
}

nav .nav__left {
  padding: 2rem 0;
  margin-right: 2rem;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

@media (min-width: 360px) and (max-width: 478px) {
  nav .nav__left {
    grid-column: span 6;
    padding: 0;
  }
}

nav .nav__left img {
  cursor: pointer;
  height: 3.7rem;
}

nav .nav__center {
  -ms-grid-column: 2;
  -ms-grid-column-span: 11;
  grid-column: 2/13;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 360px) and (max-width: 478px) {
  nav .nav__center {
    display: none;
  }
}

nav .nav__center .menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 360px) and (max-width: 478px) {
  nav .nav__center .menu__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 85%;
  }
}

nav .nav__center .menu__items .menu__item {
  position: relative;
  padding: 1rem 1.2rem;
  width: 100%;
}

@media (min-width: 360px) and (max-width: 478px) {
  nav .nav__center .menu__items .menu__item {
    padding: 0;
  }
}

nav .nav__center .menu__items .menu__item:hover .sub__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .nav__center .menu__items .menu__item:hover img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

nav .nav__center .menu__items .menu__item .link__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  margin: 0 1rem;
}

nav .nav__center .menu__items .menu__item .link__name .color {
  display: none;
}

@media (min-width: 360px) and (max-width: 478px) {
  nav .nav__center .menu__items .menu__item .link__name .color {
    display: block;
  }
  nav .nav__center .menu__items .menu__item .link__name .white {
    display: none;
  }
}

nav .nav__center .menu__items .menu__item .link__name a {
  text-decoration: none;
  color: white;
  font-size: 1.7rem;
  font-weight: 500;
  opacity: .75;
}

@media (min-width: 360px) and (max-width: 478px) {
  nav .nav__center .menu__items .menu__item .link__name a {
    color: #1f3f5b;
    opacity: 1;
    font-weight: 600;
    font-size: 1.8rem;
  }
}

nav .nav__center .menu__items .menu__item .link__name a:hover {
  text-decoration: underline;
  font-weight: 600;
  opacity: 100%;
}

nav .nav__center .menu__items .menu__item .link__name img {
  margin-left: 1rem;
}

nav .nav__center .menu__items .menu__item .sub__menu {
  -webkit-box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.349);
          box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.349);
  border-radius: .5rem;
  padding: 2rem;
  width: 130%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  -webkit-transition: display 200ms ease-out;
  transition: display 200ms ease-out;
  border-radius: .5rem;
  display: none;
}

@media (min-width: 1025px) and (max-width: 1440px) {
  nav .nav__center .menu__items .menu__item .sub__menu {
    position: absolute;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    top: 4rem;
  }
}

@media (min-width: 360px) and (max-width: 478px) {
  nav .nav__center .menu__items .menu__item .sub__menu {
    width: 100%;
    background-color: #efeff1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

nav .nav__center .menu__items .menu__item .sub__menu li {
  list-style: none;
  padding: .3rem 0;
}

nav .nav__center .menu__items .menu__item .sub__menu li a {
  font-size: 1.6rem;
  text-decoration: none;
}

nav .nav__center .menu__items .menu__item .sub__menu li a:hover {
  color: #1f3f5b;
  font-weight: 700;
}

nav .nav__center.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 2rem 0;
  z-index: 12;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  background: white;
  height: 67vh;
  width: 88%;
  top: 13rem;
  left: 2.2rem;
  border-radius: .5rem;
  -webkit-box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.507);
          box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.507);
}

nav .nav__center.open .link__name {
  padding: 1rem 0;
}

nav .nav__center.open .link__name a {
  color: #1f3f5b;
  font-weight: 600;
  font-size: 2.2rem;
}

nav .nav__center.open .btn__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav .nav__center hr {
  display: none;
}

@media (min-width: 360px) and (max-width: 478px) {
  nav .nav__center hr {
    border: none;
    display: block;
    background: #efeff1;
    width: 85%;
    height: .2rem;
    margin: 2rem;
  }
}

nav .nav__center .btn__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 360px) and (max-width: 478px) {
  nav .nav__center .btn__menu {
    display: none;
  }
}

nav .nav__center .btn__menu a {
  margin: .2rem 0;
  color: #1f3f5b;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 2.5rem;
  -webkit-transition: background-color 200ms ease-out;
  transition: background-color 200ms ease-out;
  padding: 1.365rem 3.65rem;
}

nav .nav__center .btn__menu .login {
  color: white;
}

@media (min-width: 360px) and (max-width: 478px) {
  nav .nav__center .btn__menu .login {
    color: #1f3f5b;
  }
}

nav .nav__center .btn__menu .login:hover {
  background-color: white;
  color: #ff525d;
}

nav .nav__center .btn__menu .signup {
  color: #ff525d;
  background-color: white;
}

nav .nav__center .btn__menu .signup:hover {
  background-color: #ff7a85;
  color: white;
}

@media (min-width: 360px) and (max-width: 478px) {
  nav .nav__center .btn__menu .signup {
    color: white;
    background: -webkit-gradient(linear, left top, right top, from(#ff8f70), to(#ff3d54));
    background: linear-gradient(90deg, #ff8f70, #ff3d54);
  }
}

nav .menu {
  cursor: pointer;
}

@media (min-width: 1025px) and (max-width: 1440px) {
  nav .menu {
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  nav .menu {
    display: none;
  }
}

@media (min-width: 1441px) and (max-width: 2000px) {
  nav .menu {
    display: none;
  }
}

@media (min-width: 360px) and (max-width: 478px) {
  nav .menu {
    grid-column: span 6;
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

nav .menu img {
  margin-top: .4rem;
  height: 3rem;
  width: 3.5rem;
}

nav .menu.active .close {
  display: none;
}

nav .menu.close .show {
  display: none;
}

.hero {
  height: 80vh;
  padding: 2.7rem 8rem;
  position: relative;
  background-image: url("../images/bg-pattern-intro.svg"), linear-gradient(135deg, #ff8f70, #ff3d54);
  color: #fff;
  background-size: 245% 525%, 100% 100%;
  background-position: 25% 52%, 0% 0%;
  background-repeat: no-repeat, no-repeat;
  border-radius: 0 0 0 11rem;
}

@media (min-width: 360px) and (max-width: 478px) {
  .hero {
    padding: 3rem 2.2rem;
    background-position: 36% 35%,0% 0%;
    background-size: 360% 206%, 100% 100%;
    height: 78vh;
  }
}

.hero__content {
  text-align: center;
  color: white;
  padding-top: 6.5rem;
}

@media (min-width: 360px) and (max-width: 478px) {
  .hero__content {
    padding: 9rem 1rem 0 1rem;
  }
}

.hero__content h2 {
  padding: 1rem 0;
  font-weight: 600;
  font-family: "Overpass", sans-serif;
  font-size: 5.508rem;
}

@media (min-width: 360px) and (max-width: 478px) {
  .hero__content h2 {
    font-size: 3.4rem;
  }
}

.hero__content p {
  padding: .7rem 0;
  font-size: 1.9rem;
}

.hero__content .cta__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 360px) and (max-width: 478px) {
  .hero__content .cta__btn {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.hero__content .cta__btn button {
  margin-top: 4.5rem;
  border-radius: 5rem;
  font-size: 1.6rem;
  padding: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  border: none;
  font-family: "Ubuntu", sans-serif;
  -webkit-transition: background-color 200ms ease-out;
  transition: background-color 200ms ease-out;
}

.hero__content .cta__btn button:not(first-child) {
  margin-right: 1.5rem;
}

.hero__content .cta__btn .free {
  background-color: white;
  color: #ff525d;
}

.hero__content .cta__btn .free:hover {
  color: #fff;
  background-color: #ff7a85;
}

.hero__content .cta__btn .learn__more {
  color: white;
  background: transparent;
  border: 1px solid white;
}

.hero__content .cta__btn .learn__more:hover {
  color: #ff525d;
  background: #fff;
}

.describe {
  position: relative;
  background-image: url("../images/illustration-editor-desktop.svg");
  background-repeat: no-repeat;
  background-position: 135% 100%, 0% 0%;
  background-size: 56% 92%, 100% 100%;
}

@media (min-width: 360px) and (max-width: 478px) {
  .describe {
    background-position: 50% 14%, 0% 0%;
    background-size: 108% 30%, 100% 100%;
    background-image: url("../images/illustration-editor-mobile.svg");
  }
}

.describe .describe__content {
  padding: 8rem;
  padding-top: 12rem;
}

@media (min-width: 360px) and (max-width: 478px) {
  .describe .describe__content {
    margin-top: 6rem;
    padding: 4rem 2.5rem;
    text-align: center;
  }
}

.describe .describe__content h3 {
  font-size: 3.6rem;
  font-weight: 700;
  color: #1f3f5b;
  text-align: center;
}

@media (min-width: 360px) and (max-width: 478px) {
  .describe .describe__content h3 {
    font-size: 2.8rem;
  }
}

.describe .describe__content .layout {
  padding: 6rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-gap: 2rem;
}

.describe .describe__content .layout__left {
  padding: 0 2rem;
  grid-column: span 6;
}

@media (min-width: 360px) and (max-width: 478px) {
  .describe .describe__content .layout__left {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 0;
  }
}

.describe .describe__content .layout__left h2 {
  color: #1f3f5b;
  line-height: 1;
  font-size: 2.8rem;
  padding: 2rem 0;
}

.describe .describe__content .layout__left p {
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: 500;
}

.describe .describe__content .layout__left h5 {
  font-weight: bold;
  padding: 2rem 0;
}

.describe .describe__content .layout__right {
  grid-column: span 6;
}

@media (min-width: 360px) and (max-width: 478px) {
  .describe .describe__content .layout__right {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 0;
    height: 32rem;
  }
}

.showcase {
  position: relative;
  border-radius: 0 10rem;
  background-image: url("../images/bg-pattern-circles.svg"), -webkit-gradient(linear, left top, left bottom, from(#2c2d3f), to(#3f4164));
  background-image: url("../images/bg-pattern-circles.svg"), linear-gradient(#2c2d3f, #3f4164);
  background-repeat: no-repeat no-repeat;
  background-size: 70% 256%, 100% 100%;
  background-position: -51% 83%, 0% 0%;
  margin: 6rem 0;
}

@media (min-width: 360px) and (max-width: 478px) {
  .showcase {
    margin: 9rem 0;
    background-size: 160% 115%, 100% 100%;
    background-position: 50% 342%, 0% 0%;
  }
}

.showcase .showcase__section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-gap: 2rem;
  padding: 10rem 8rem;
}

@media (min-width: 360px) and (max-width: 478px) {
  .showcase .showcase__section {
    background-position: 50% -1950%, 0% 0%;
    background-size: 163% 100%;
    padding: 2rem 2.3rem;
    text-align: center;
  }
}

.showcase .showcase__section .phone__illustration {
  grid-column: span 6;
}

@media (min-width: 360px) and (max-width: 478px) {
  .showcase .showcase__section .phone__illustration {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    height: 16rem;
  }
}

.showcase .showcase__section .phone__illustration img {
  height: 54.5rem;
  top: -26%;
  z-index: 11;
  position: absolute;
}

@media (min-width: 360px) and (max-width: 478px) {
  .showcase .showcase__section .phone__illustration img {
    left: 7%;
    height: 33rem;
  }
}

.showcase .showcase__section .showcase__content {
  grid-column: span 6;
  color: white;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (min-width: 360px) and (max-width: 478px) {
  .showcase .showcase__section .showcase__content {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    padding-bottom: 7rem;
  }
}

.showcase .showcase__section .showcase__content h2 {
  font-weight: 600;
  font-size: 3.7rem;
  padding: 2rem 0;
}

@media (min-width: 360px) and (max-width: 478px) {
  .showcase .showcase__section .showcase__content h2 {
    padding: 0 0 2rem 0;
  }
}

.showcase .showcase__section .showcase__content p {
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: .035rem;
}

.feature {
  position: relative;
  background-image: url("../images/illustration-laptop-desktop.svg");
  background-repeat: no-repeat;
  background-position: -35% 5%, 0% 0%;
  background-size: 55% 100%, 100% 100%;
}

@media (min-width: 360px) and (max-width: 478px) {
  .feature {
    background-position: 48% 0%, 0% 0%;
    background-size: 126% 34% ,100% 100%;
    background-image: url("../images/illustration-laptop-mobile.svg");
    padding-bottom: 7rem;
  }
}

.feature .feature__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-gap: 2rem;
  padding: 10rem 8rem;
}

@media (min-width: 360px) and (max-width: 478px) {
  .feature .feature__content {
    padding: 3rem 2rem;
    text-align: center;
  }
}

.feature .feature__content .feature__left {
  grid-column: span 6;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (min-width: 360px) and (max-width: 478px) {
  .feature .feature__content .feature__left {
    height: 30rem;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
  }
}

.feature .feature__content .feature__left img {
  position: absolute;
  top: 0%;
  left: -15%;
  height: 50rem;
}

@media (min-width: 360px) and (max-width: 478px) {
  .feature .feature__content .feature__left img {
    height: 34rem;
  }
}

.feature .feature__content .feature__left .large {
  display: block;
}

@media (min-width: 360px) and (max-width: 478px) {
  .feature .feature__content .feature__left .large {
    display: none;
  }
}

.feature .feature__content .feature__left .mobile {
  display: none;
}

@media (min-width: 360px) and (max-width: 478px) {
  .feature .feature__content .feature__left .mobile {
    display: block;
  }
}

.feature .feature__content .feature__right {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  grid-column: span 6;
}

@media (min-width: 360px) and (max-width: 478px) {
  .feature .feature__content .feature__right {
    padding: 0 2rem;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
  }
}

.feature .feature__content .feature__right h2 {
  color: #1f3f5b;
  font-size: 2.8rem;
  font-weight: 700;
  padding: 2.5rem 0;
}

.feature .feature__content .feature__right p {
  line-height: 1.5;
  font-size: 1.6rem;
  font-weight: 500;
}
/*# sourceMappingURL=index.css.map */